<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <div class="container">
        <a class="text-white pt-1" href="/">
            <h2>Seeds</h2>
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'create-post' %}">作品を投稿する</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
            </li>
            


            </li>
            {% else %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">登録</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">ログイン</a>
            </li>
            {% endif %}

        </ul>
      </div>
    </div>
  </nav>