
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

body {
    font-family: 'Sora', sans-serif;
    padding-top: 5rem;

    background-color:#c4d7d1 ;
}

a {
    color: black;
    text-decoration: none;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* .sub1 {
    margin: 20px auto;
    border-radius: 8px;
    background-color: white;
  
    box-shadow: 5px 10px #888888;    
} */

.frame {
    max-width: 800px;
    margin: 60px auto;
    padding: 24px;
    border-radius: 8px;
    background-color: white;
  
    box-shadow: 5px 10px #888888; 
    color: black;
    font-weight: 700;
}

.frame h1 {
    text-align: center
}
 
.sub-frame {
    margin: 20px auto;
    border-radius: 8px;
    background-color: white;
  
    box-shadow: 5px 10px #888888;    
}

/* create-post section */

.fieldWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.fieldWrapper label {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.fieldWrapper input {
    margin-bottom: 6px;
    border: 1px solid lightgray;
    min-height: 40px;
}

.fieldWrapper-image {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.fieldWrapper-image label {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.fieldWrapper-image input {
    margin-bottom: 6px;
    min-height: 40px;
}

.fieldWrapper-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align:right
}

.fieldWrapper-link label {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.link-button {
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 20px;
    background-color:#21252f;
    color: white;
    cursor: pointer;
}

.error {
    font-size: 14px;
    color: red;
}

.errorlist {
    margin: 0;
}

.non_form_errors {
    margin-bottom: 20px;
}
  
.submit-button {
    display: block;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin: 0 auto;
    cursor: pointer;
}

/* delete_post section */

.delete form{
    text-align: center;
}

.delete p{
    text-align: center;
}

/* home section */

.container .text-muted {
    margin: 20px 0;
  }

/* post-list */

.post-list {
    display: grid;
    grid-template-columns: 0.6fr 3fr;
}

/* post-item-list section */

.post-item-list {
    max-width: 1400px;
    margin: 24px;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
  
    box-shadow: 5px 10px #888888;
}

.post-list-item .card {
    background-color: #FFFFFF; 
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 2px  #888888;
  }

.post-list-item .card h5 {

    color: black;
    font-weight: 700;
}

.post-list-item .card p,
.post-author a,
.post-topic a,
.card-description p{
    font-size: 12px;
    margin: 10px;
    opacity: 0.65;

    font-weight: 700;
}

.post-topic,
.post-author {
    text-align: right;
}

.author-post {
    max-width: 1400px;
    margin: 24px;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
  
    box-shadow: 5px 10px #888888;  
}

.author-post-list {
    background-color:#c4d7d1 ;
}

.navbar .nav-link {
    color: aliceblue !important;
    font-size: 14px;
    font-weight: 700;
}

.user-name {
    max-width: 1400px;
    margin: 24px;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
  
    box-shadow: 5px 10px #888888;

    position: sticky;
    top:100px;
}

.card {
    min-width: 220px;
    max-width: 500px;
    margin-bottom: 5px !important;
}

.card-img-top {
    width: 100%;
    
    height: 15vw;
    object-fit: cover;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);

}

.card-img {
    width: 500px;
    height: 500px;
    
    object-fit: cover;
}

/* topic-serch-list */

.topic-serch-list {
    max-width: 1400px;
    margin: 24px;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
  
    box-shadow: 5px 10px #888888;

    position: sticky;
    top:100px;
}

.Topic-name h3 {
    text-align: center;
}

.all-topic,
.list-serch,
.topic-serch {
    margin-bottom:10px;
}

.list-serch a,
.all-topic a{
    box-shadow: 3px 3px #888888;
}

/* post-item-list section */

.post-item-list {
    max-width: 1400px;
    margin: 24px;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
  
    box-shadow: 5px 10px #888888;
}

.post-list-item .card {
    background-color: #FFFFFF; 
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 2px  #888888;
  }

.post-list-item .card h5 {

    color: black;
    font-weight: 700;
}

.post-list-item .card p,
.post-author a {
    font-size: 12px;
    margin: 10px;
    opacity: 0.65;

    font-weight: 700;
}

.post-topic,
.post-author {
    text-align: right;
}

.author-post {
    max-width: 1400px;
    margin: 24px;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
  
    box-shadow: 5px 10px #888888;  
}

.author-post-list {
    background-color:#c4d7d1 ;
}

.navbar .nav-link {
    color: aliceblue !important;
    font-size: 14px;
    font-weight: 700;
}

.user-name {
    max-width: 1400px;
    margin: 24px;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
  
    box-shadow: 5px 10px #888888;

    position: sticky;
    top:100px;
}

.card {
    min-width: 220px;
    max-width: 500px;
    margin-bottom: 5px !important;
}

.card-img-top {
    width: 100%;
    
    height: 15vw;
    object-fit: cover;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);

}

.card-img {
    width: 500px;
    height: 500px;
    
    object-fit: cover;
}

/* post section */

.your-post-item h2 {
    color: black;
    font-weight: 700;

    text-align: center;
    margin: 24px;
}

.dropdown {
    text-align: right;
}

.dropdown button {
    background-color: white;
}

.post-images {
    margin-bottom:24px;
}

.post-images img {
    width: 100%;
    height: 30vw;
    display: block;
    margin: 0 auto;
}

.link a,
.author a {
    color:black; 
    box-shadow: 3px 3px #888888;

}

.btn {
    background-color:#c4d7d1;
}

.post-description {
    margin-bottom: 20px;
}

.post-description label {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.link,
.author {
    margin:10px;
    text-align: right;
}

.dropdown button {
    background-color: white;
}

