{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <label>ユーザーネーム:</label>
            <input type="text" name="username" placeholder="名前を入力">
        </div>

        <div>
            <label>パスワード:</label>
            <input type="password" name="password" placeholder="パスワードを入力">
        </div>

        <input type="submit" value="ログイン" />
    </form>

    <p>登録はこちら</p>
    <a href="{% url 'register' %}">登録</a>
</div>
{% else %}

<div>
    <!-- <form method="POST" action="">
        {% csrf_token %}
        <input type="submit" value="Register" />
    </form> -->

    <form method="POST" action="" class="register-form">
        {% csrf_token %}
      <div class="fieldWrapper">
        <label for="{{form.email.id_for_label}}">メールアドレス:</label>
        {{form.email}}
        <span class="error">{{form.email.errors}}</span>
      </div>
      <div class="fieldWrapper">
        <label for="{{form.username.id_for_label}}">ユーザーネーム:</label>
        {{form.username}}
        <span class="error">{{form.username.errors}}</span>
      </div>
      <div class="fieldWrapper">
        <label for="{{form.password1.id_for_label}}">パスワード:</label>
        {{form.password1}}
        <span class="error">{{form.password1.errors}}</span>
      </div>
      <div class="fieldWrapper">
        <label for="{{form.password2.id_for_label}}">確認用パスワード:</label>
        {{form.password2}}
        <span class="error">{{form.password2.errors}}</span>
      </div>
      {% if form.non_field_errors %}
      <div class="non_form_errors">
        <span class="error">{{form.non_field_errors.as_ul}}</span>
      </div>
      {% endif %}
      <input type="submit" value="登録" class="submit-button"/>
      </form>



    
    <p>登録済み</p>
    <a href="{% url 'login' %}">ログイン</a>
</div>
{% endif %}

{% endblock content %}