{% extends 'main.html' %}
{% load static %}


{% block content %}

<div class="page">
    <div class="sub1">
        <section id="posts">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto text-center">
                        <h5>Seeds</h5>
                        <h1>これまでの作品</h1>
                        <h6>未来の生徒をコンセプトに</h6>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="post-list">
        <div>
            <div class="user-name">
                <h2>ユーザー名{{user.username}}</h2>
            </div>
        </div>

        <!-- <div>
            {% include 'app/post_component.html' %}
        </div> -->


        <div class="post-list-item">
            <div class="container">
                <div class="row g-4">
                    {% for post in posts %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card mx-auto">

                            <div class="dropdown ms-auto">
                                {% if request.user == post.author %}
                                <button class="btn btn-link btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="{% url 'update-post' post.id %}">編集</a></li>
                                    <li><a class="dropdown-item" href="{% url 'delete-post' post.id %}">削除</a></li>
                                </ul>
                                {% endif %}
                            </div>

                            <div class="postlist">
                                <a href="{% url 'post' post.id %}">
                                    {% if post.image %}
                                    <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                                    {% endif %}

                                    <div class="card-body">
                                        <h5 class="card-title">
                                            {{post.title}}
                                        </h5>
                                    </div>

                                    <div class="card-description">
                                        <p class="card-description text-truncate">
                                            {{post.description}}
                                        </p>
                                    </div>
                                </a>
                                    <div class="post-topic">
                                        <p class="btn btn-sm">
                                            #{{post.topic}}
                                        </p>
                                    </div>
                                    <div class="post-author">
                                        <a class="btn btn btn-sm" role="button" href="{% url 'user-profile' post.author.id %}">
                                            投稿者：{{post.author.username}}
                                        </a>
                                    </div>
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %} 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}